$white: #fff;
$grey-light: #f8f8fd;
$grey-medium: #e5e0fc;
$grey-dark: #8a8fb9;
$black: #101750;
$tertiary: #7e33e0;
$pink-primary: #fb2e86;
$pink-dark: #f0056a;
$pink-light: #fc5fa2;
$yellow: #f9ba00;
$yellow-light: #fff3ce;
$red: #fb2448;
$red-light: #feb9c4;
$violet: #603eff;
$violet-light: #ddd6ff;
$green: #0cc562;
$green-light: #92f2bf;
$green-dark: #00994c;
