@use '../../../sass/abstracts/variables' as *;

.card {
    width: 41.6rem;
    height: 30.4rem;
    background-color: $white;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    &:hover,
    &:active {
        .utils {
            display: flex;
        }
    }
}

.sale {
    position: absolute;
    top: 0;
    left: -0.6rem;
}

.bottom {
    display: flex;
}

.name {
    font-family: 'Josefin Sans', sans-serif;
    margin-right: auto;
}

.text {
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 1.6rem;
}

.price {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.14286;
    color: $pink-primary;
}

.picture {
    margin-bottom: 1.2rem;
    border-radius: 4px;
    max-height: 27.2rem;
}

.utils {
    position: absolute;
    left: 0.8rem;
    bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    display: none;
}

.icon {
    fill: $tertiary;
    padding: 0.8rem;
    border-radius: 3.2rem;
    width: 3.2rem;
    height: 3.2rem;
    &:hover,
    &:focus {
        background-color: $grey-medium;
    }
}

.card-zoomed {
    width: 60rem;
    height: 40rem;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    padding: 0;
    border-radius: 16px;
    &:hover,
    &:focus {
        margin: 0;
    }
}

.img-zoomed {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden {
    display: none;
}

.favorite {
    fill: $pink-dark;
}
