@use '../../../sass/abstracts/mixins' as *;

.subscribe {
    background-image: url('/img/subscribe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 192rem;
    width: 100%;
    height: 43.2rem;
    padding: 11.2rem 0;
}

.wrapper {
    max-width: 76.8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn {
    @include btnPink(15.1rem);
}
