@use '../../../sass/abstracts/variables' as *;

.footer {
    display: flex;
    background-color: $grey-medium;
    height: 5.6rem;
    align-items: center;
}

.list {
    display: flex;
    margin-left: auto;
    gap: 1.6rem;
}

.item {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 100%;
    background-color: $black;
}

.link {
    padding: 1.6rem 0;
}

.icon {
    fill: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
