.container {
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: 129.2rem;
    width: 100%;
    margin: 0 auto;
    padding: 10rem 0;
}

.list {
    margin-top: 4rem;
    display: flex;
    gap: 3.2rem;
}
